<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>{{ header_name }}</H1>
        <UL>
        {% for state_key, state_value in states_cities|dictsort(True) %}
            <LI>{{ state_value.state_id }}: <B>{{ state_key }}</B>
                <UL>
                    {% for city_list in state_value.cities %}{% if city_list.city_name %}
                        <LI>{{ city_list.city_id }}: <B>{{ city_list.city_name }}</B></LI>
                    {% endif %}{% endfor %}
                </UL>
            </LI>
        {% endfor %}
        </UL>
    </BODY>
</HTML>
